*.suo
*.7z
bin
obj
debug
release
*.user
build
*.cache
deploy
*.rar
*.txt
*.pdb
*.tmp
.DS_Store
.tmp*~
*.local.*
.pinf-*
_ReSharper.*
*.resharper
*.ReSharper
~$*
*.stackdump
/dokuku.sales.web/webclient/sales/controllers/home/production.css
/dokuku.sales.web/webclient/sales/controllers/setupautonumbering/production.css
/dokuku.sales.web/webclient/sales/controllers/home/production.js
/dokuku.sales.web/webclient/sales/controllers/setupautonumbering/production.js
/dokuku.sales.web/webclient/sales/images/jquery-ui/ui-icons_black_256x240.png